TOM.Web/TOM.Web/Connected Services/VooWs/VooWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tom.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tom.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tom.org/">
      <s:element name="Criar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="voo" type="tns:Voo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Voo">
        <s:complexContent mixed="false">
          <s:extension base="tns:BaseEntityOfVoo">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="DataVoo" type="s:dateTime" />
              <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Destino" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Aeronave" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="NumeroVoo" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="QuantidadeAssentos" type="s:int" />
              <s:element minOccurs="1" maxOccurs="1" name="ValorUnicoPassagem" type="s:decimal" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="BaseEntityOfVoo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="CriarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Editar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="voo" type="tns:Voo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditarResponse">
        <s:complexType />
      </s:element>
      <s:element name="Apagar">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVoo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ApagarResponse">
        <s:complexType />
      </s:element>
      <s:element name="BuscarTodos">
        <s:complexType />
      </s:element>
      <s:element name="BuscarTodosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarTodosResult" type="tns:ArrayOfVoo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVoo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Voo" nillable="true" type="tns:Voo" />
        </s:sequence>
      </s:complexType>
      <s:element name="BuscarPorId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idVoo" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BuscarPorIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BuscarPorIdResult" type="tns:Voo" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CriarSoapIn">
    <wsdl:part name="parameters" element="tns:Criar" />
  </wsdl:message>
  <wsdl:message name="CriarSoapOut">
    <wsdl:part name="parameters" element="tns:CriarResponse" />
  </wsdl:message>
  <wsdl:message name="EditarSoapIn">
    <wsdl:part name="parameters" element="tns:Editar" />
  </wsdl:message>
  <wsdl:message name="EditarSoapOut">
    <wsdl:part name="parameters" element="tns:EditarResponse" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapIn">
    <wsdl:part name="parameters" element="tns:Apagar" />
  </wsdl:message>
  <wsdl:message name="ApagarSoapOut">
    <wsdl:part name="parameters" element="tns:ApagarResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarTodosSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarTodos" />
  </wsdl:message>
  <wsdl:message name="BuscarTodosSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarTodosResponse" />
  </wsdl:message>
  <wsdl:message name="BuscarPorIdSoapIn">
    <wsdl:part name="parameters" element="tns:BuscarPorId" />
  </wsdl:message>
  <wsdl:message name="BuscarPorIdSoapOut">
    <wsdl:part name="parameters" element="tns:BuscarPorIdResponse" />
  </wsdl:message>
  <wsdl:portType name="VooWSSoap">
    <wsdl:operation name="Criar">
      <wsdl:input message="tns:CriarSoapIn" />
      <wsdl:output message="tns:CriarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <wsdl:input message="tns:EditarSoapIn" />
      <wsdl:output message="tns:EditarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <wsdl:input message="tns:ApagarSoapIn" />
      <wsdl:output message="tns:ApagarSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarTodos">
      <wsdl:input message="tns:BuscarTodosSoapIn" />
      <wsdl:output message="tns:BuscarTodosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <wsdl:input message="tns:BuscarPorIdSoapIn" />
      <wsdl:output message="tns:BuscarPorIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VooWSSoap" type="tns:VooWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Criar">
      <soap:operation soapAction="http://tom.org/Criar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap:operation soapAction="http://tom.org/Editar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap:operation soapAction="http://tom.org/Apagar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTodos">
      <soap:operation soapAction="http://tom.org/BuscarTodos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap:operation soapAction="http://tom.org/BuscarPorId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="VooWSSoap12" type="tns:VooWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Criar">
      <soap12:operation soapAction="http://tom.org/Criar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Editar">
      <soap12:operation soapAction="http://tom.org/Editar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Apagar">
      <soap12:operation soapAction="http://tom.org/Apagar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarTodos">
      <soap12:operation soapAction="http://tom.org/BuscarTodos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarPorId">
      <soap12:operation soapAction="http://tom.org/BuscarPorId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VooWS">
    <wsdl:port name="VooWSSoap" binding="tns:VooWSSoap">
      <soap:address location="http://localhost:50736/VooWS.asmx" />
    </wsdl:port>
    <wsdl:port name="VooWSSoap12" binding="tns:VooWSSoap12">
      <soap12:address location="http://localhost:50736/VooWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>